@page
@model IndexModel
@using System.IdentityModel.Tokens.Jwt
@using System.Text.Json
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home";
    string? accessToken = HttpContext.Request.Query["token"];
}

@if (!string.IsNullOrWhiteSpace(accessToken))
{
    string decodedPayload = string.Empty;
    try
    {
        JwtSecurityToken jwt = new JwtSecurityToken(jwtEncodedString: accessToken);
        JsonDocument parsedPayload = JsonDocument.Parse(jwt.Payload.SerializeToJson());
        decodedPayload = JsonSerializer.Serialize(parsedPayload.RootElement, new JsonSerializerOptions { WriteIndented = true });
    }
    catch
    {
        // ignored
    }
    
    <nav class="navbar">
        <div class="container-fluid justify-content-end">
            <form action="/signout" method="post" asp-antiforgery="true">
                <button class="btn btn-outline-secondary" type="submit">Sign out</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>access_token:</strong></td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" readonly
                                                   value="@accessToken">
                                            <button class="btn btn-outline-secondary" type="button"><i
                                                    class="bi bi-clipboard"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                @* <tr> *@
                                @*     <td><strong>expires_at:</strong></td> *@
                                @*     <td> *@
                                @*         <div class="small"> *@
                                @*             @await HttpContext.GetTokenAsync("expires_at") *@
                                @*         </div> *@
                                @*     </td> *@
                                @* </tr> *@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <pre class="font-monospace small">@decodedPayload</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="d-flex align-items-center vh-100">
            <div class="mx-auto p-2 w-50">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form action="/signin" method="post" asp-antiforgery="true">
                            <div class="form-floating mb-3">
                                <input type="url" class="form-control" id="authority"
                                       value="@Configuration["OidcSettings:Authority"]" name="Authority">
                                <label for="authority">Authority</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="clientId"
                                       value="@Configuration["OidcSettings:ClientId"]" name="ClientId">
                                <label for="clientId">Client Id</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="clientSecret"
                                       value="@Configuration["OidcSettings:ClientSecret"]" name="ClientSecret">
                                <label for="clientSecret">Client Secret</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="scope"
                                       value="@Configuration["OidcSettings:Scopes"]" name="Scopes">
                                <label for="scope">Scope</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
